body {
	background-image: url("./pictures/background.jpg");
	background-repeat: no-repeat;
  	background-size: cover;
}

header {
	background-color: lightgreen;
	height: 60px;
	border-radius: 100px;
	opacity: 0.5;
}

h1 {
	text-align: center;
	padding-top: 10px;
}

h2 {
	color: lightgray;
	display: inline-block;
	margin: 5px;
}

.card_value {
	visibility: hidden;
}

button {
	background-color: lightgreen;
	height: 30px;
	text-align: center;
	opacity: 0.7;
	border-radius: 10px;
	margin-top: 10px;
	font-weight: bolder;
}

#game {
	display: none;
  	grid-template-columns: 1fr;
  	justify-items: center;
}

#history {
	margin-top: 20px;
	background-color: lightgreen;
	opacity: 0.6;
	border-radius: 30px;
	text-indent: 30px;
	padding: 10px;
	font-weight: bold;
}

#deal_div {
	text-align: center;
}

#result {
	visibility: hidden;
	margin: 10px;
	padding: 0;
	color: yellow;
}

.player_card, .dealer_card {
	height: 140px;
}

.hidden_card {
	display: none;
}